.button
    text-decoration: none 

    &.primary
        background: $blue.regular
        color: white
        border-radius: 2px
        padding: 8px 16px
        border: none
        font-size: 13px
        font-weight: 700
        text-transform: uppercase;
        letter-spacing: 0.75px;

        &:hover
            cursor: pointer
            background: $blue.dark

    &.secondary
        display: flex
        font-size: 15px
        color: $blue.regular
        margin-right: 24px

        &:last-child
            margin-right: 0px

        svg 
            width: 15px
            height: 15px
            margin-right: 6px

        &:hover
            cursor: pointer
            color: $blue.dark



.post-go-button
    width: 80px
    display: flex
    justify-content: center
    align-items: center
    background: $blue.regular
    color: white

    &:hover
        background: $blue.dark
