$strip-width = 6px

.card
    position: relative
    background: white
    box-shadow: $box-shadow 

    &.medium
        max-width: 880px

    .card-color-strip
        position: absolute
        height: 100%
        top: 0
        width: $strip-width