$grey = {
    lightest: #f1f1f1
    lighter: #F7F8FB,
    light: rgba(186, 184, 188, 0.2),
    regular: #BAB8BC,
    dark: #8C94A5,
    darker: #2E2F33,
}

$blue = {
    light: #6ED7F9,
    regular: #2C88E5,
    dark: #2171C1,
}

$purple = {
    regular: #6E51B5
}

$green = {
    regular: #55EFC4
}

$box-shadow = 3px 3px 3px 0px $grey.lightest;