.comment-container
    margin-bottom: 24px


.posted-comment-container
    .posted-comment-top-container
        display: flex

        .posted-comment-data-container
            flex: 1
            text-align: left
            padding: 16px

            .comment-body
                font-size: 18px
                color: $grey.darker

            .comment-author
                color: $grey.dark
                font-size: 15px
                text-transform: capitalize
                margin-top: 12px

        .posted-comment-vote-container
            padding: 16px
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

    .posted-comment-bottom-container
        display: flex
        border-top: 1px solid $grey.light
        padding: 16px

        
.editing-comment-container
    //padding: 16px



            