.field
    width: 100%
    border: 1px solid $grey.light
    font-size: 14px
    margin-bottom: 8px
    padding: 8px
    border-radius: 4px
    outline: none

    &:last-child
        margin-bottom: 0px

    &:focus
        border: 1px solid $blue.regular



.form-fields-container
    padding: 16px

.form-buttons-container
    display: flex
    justify-content: center
    align-items: center
    border-top: 1px solid $grey.light
    padding: 12px


.form-description-container
    padding: 24px 16px 16px
    text-align: left

    .form-title-container
        display: flex
        align-items: flex-start
        color: $blue.regular

        .form-title-text
            font-size: 28px

        .form-title-icon
            width: 28px
            height: 28px
            margin-right: 8px
            

    .form-subtitle
        margin-top: 12px


