*
    font-family: $primary-font-family
    box-sizing: border-box

body
    margin: 0
    background: $grey.lighter

.page-container
    position: relative
    left: $sidebar-width
    width: "calc(100% - %s)" % $sidebar-width
