.vote-control-container
    color: $blue.regular
    user-select: none

    .vote-score
        font-size: 20px
        width: 24px
        

    .vote-control
        cursor: pointer

        &:hover
            color: $blue.dark