@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
.button {
  text-decoration: none;
}
.button.primary {
  background: #2c88e5;
  color: #fff;
  border-radius: 2px;
  padding: 8px 16px;
  border: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}
.button.primary:hover {
  cursor: pointer;
  background: #2171c1;
}
.button.secondary {
  display: flex;
  font-size: 15px;
  color: #2c88e5;
  margin-right: 24px;
}
.button.secondary:last-child {
  margin-right: 0px;
}
.button.secondary svg {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}
.button.secondary:hover {
  cursor: pointer;
  color: #2171c1;
}
.post-go-button {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c88e5;
  color: #fff;
}
.post-go-button:hover {
  background: #2171c1;
}
.vote-control-container {
  color: #2c88e5;
  user-select: none;
}
.vote-control-container .vote-score {
  font-size: 20px;
  width: 24px;
}
.vote-control-container .vote-control {
  cursor: pointer;
}
.vote-control-container .vote-control:hover {
  color: #2171c1;
}
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #f7f8fb;
}
a {
  text-decoration: none;
}
.page-container {
  position: relative;
  left: 260px;
  width: calc(100% - 260px);
  padding: 52px;
}
.header-container {
  position: sticky;
  top: 0px;
  z-index: 2;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(186,184,188,0.2);
  box-shadow: -2px 1px 3px 0px #f1f1f1;
  background: #fff;
}
.header-container .header-logo-container {
  display: flex;
  align-items: center;
  margin-left: 24px;
}
.header-container .header-logo-container .header-logo-icon {
  width: 24px;
  color: #bab8bc;
  margin-right: 12px;
}
.header-container .header-logo-container .header-logo-text {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #2c88e5;
}
.header-container .header-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 100%;
  background: #2c88e5;
}
.header-container .header-button-container .button {
  color: #fff;
  font-size: 40px;
  line-height: 22px;
}
.header-container .header-button-container:hover {
  background: #2171c1;
  cursor: pointer;
}
.category {
  background: #6ed7f9;
}
.category.react {
  background: #6ed7f9;
}
.category.redux {
  background: #6e51b5;
}
.category.udacity {
  background: #55efc4;
}
.card {
  position: relative;
  background: #fff;
  box-shadow: 3px 3px 3px 0px #f1f1f1;
}
.card.medium {
  max-width: 880px;
}
.card .card-color-strip {
  position: absolute;
  height: 100%;
  top: 0;
  width: 6px;
}
.post-container {
  margin-bottom: 36px;
}
.post-content-container {
  position: relative;
  width: calc(100% - 6px);
  left: 6px;
}
.post-content-container .post-top-container {
  display: flex;
}
.post-content-container .post-top-container .post-data-container {
  flex: 1;
  text-align: left;
  padding: 16px;
}
.post-content-container .post-top-container .post-data-container .post-title {
  font-size: 28px;
  font-weight: 700;
  color: #2e2f33;
}
.post-content-container .post-top-container .post-data-container .post-author {
  font-size: 15px;
  color: #8c94a5;
  text-transform: capitalize;
  margin: 12px 0px 16px;
}
.post-content-container .post-top-container .post-data-container .post-body {
  font-size: 16px;
  color: #8c94a5;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.post-content-container .post-top-container .post-data-container .post-meta-container {
  display: flex;
}
.post-content-container .post-top-container .post-data-container .post-meta-container .post-meta {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #bab8bc;
  margin-right: 32px;
}
.post-content-container .post-top-container .post-data-container .post-meta-container .post-meta:last-child {
  margin-right: 0px;
}
.post-content-container .post-top-container .post-data-container .post-meta-container .post-meta .post-meta-icon-container svg {
  display: flex;
  width: 12px;
  height: 12px;
}
.post-content-container .post-top-container .post-data-container .post-meta-container .post-meta .post-meta-data {
  margin: 0 4px 0 6px;
  text-transform: capitalize;
}
.post-content-container .post-top-container .post-vote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.post-content-container .post-bottom-container {
  display: flex;
  border-top: 1px solid rgba(186,184,188,0.2);
}
.post-content-container .post-bottom-container .post-controls-container {
  flex: 1;
  display: flex;
  padding: 16px;
}
.sidebar-container {
  position: fixed;
  width: 260px;
  height: calc(100% - 70px);
  top: 70px;
  background: #2e2f33;
  padding: 48px 36px;
  z-index: 3;
}
.sidebar-container .sidebar-link-container {
  display: flex;
  align-items: center;
  color: #fff;
}
.sidebar-container .sidebar-link-container.sidebar-primary-link-container {
  margin-bottom: 32px;
}
.sidebar-container .sidebar-link-container.sidebar-primary-link-container .sidebar-primary-link-icon {
  display: flex;
}
.sidebar-container .sidebar-link-container.sidebar-primary-link-container .sidebar-primary-link-icon svg {
  width: 18px;
  height: 18px;
}
.sidebar-container .sidebar-link-container.sidebar-primary-link-container .sidebar-primary-link-text {
  margin-left: 16px;
  font-size: 18px;
  line-height: 15px;
  font-family: 'Open Sans', sans-serif;
}
.sidebar-container .sidebar-link-container.sidebar-secondary-link-container {
  margin-left: 24px;
  margin-bottom: 24px;
}
.sidebar-container .sidebar-link-container.sidebar-secondary-link-container .sidebar-secondary-link-icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.sidebar-container .sidebar-link-container.sidebar-secondary-link-container .sidebar-secondary-link-text {
  margin-left: 16px;
  font-size: 15px;
  line-height: 16px;
  text-transform: capitalize;
}
.field {
  width: 100%;
  border: 1px solid rgba(186,184,188,0.2);
  font-size: 14px;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
  outline: none;
}
.field:last-child {
  margin-bottom: 0px;
}
.field:focus {
  border: 1px solid #2c88e5;
}
.form-fields-container {
  padding: 16px;
}
.form-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(186,184,188,0.2);
  padding: 12px;
}
.form-description-container {
  padding: 24px 16px 16px;
  text-align: left;
}
.form-description-container .form-title-container {
  display: flex;
  align-items: flex-start;
  color: #2c88e5;
}
.form-description-container .form-title-container .form-title-text {
  font-size: 28px;
}
.form-description-container .form-title-container .form-title-icon {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}
.form-description-container .form-subtitle {
  margin-top: 12px;
}
.sort-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 42px;
  max-width: 880px;
}
.sort-container .Select {
  cursor: pointer !important;
  margin-left: 24px;
}
.sort-container .Select:last-child {
  margin-left: none;
}
.sort-by-select,
.order-by-select {
  width: 160px;
}
.sort-by-select .Select-control,
.order-by-select .Select-control {
  border-radius: 0px;
  border: none;
  border-left: 4px solid #2c88e5 !important;
  box-shadow: 3px 3px 3px 0px #f1f1f1 !important;
}
.sort-by-select .Select-clear-zone,
.order-by-select .Select-clear-zone {
  display: none;
}
.sort-by-select .Select-arrow,
.order-by-select .Select-arrow {
  border-color: #2c88e5 transparent transparent;
}
.sort-by-select .Select-menu-outer,
.order-by-select .Select-menu-outer {
  border: 0px;
  border-radius: 0px;
}
.select-option-container {
  padding: 12px 16px;
  border-top: 1px solid rgba(186,184,188,0.2);
}
.select-option-container:hover {
  background: rgba(33,113,193,0.1);
}
.select-value-container,
.select-option-container {
  display: flex;
  align-items: center;
  color: #2c88e5;
  cursor: pointer;
}
.custom-slect-text-container {
  color: #2c88e5;
  font-size: 14px;
  font-weight: 700;
  margin-left: 8px;
  margin-top: 1px;
}
.custom-slect-icon-container {
  color: #2c88e5;
  display: flex;
}
.custom-slect-icon-container svg {
  width: 14px;
  height: 14px;
}
.comment-container {
  margin-bottom: 24px;
}
.posted-comment-container .posted-comment-top-container {
  display: flex;
}
.posted-comment-container .posted-comment-top-container .posted-comment-data-container {
  flex: 1;
  text-align: left;
  padding: 16px;
}
.posted-comment-container .posted-comment-top-container .posted-comment-data-container .comment-body {
  font-size: 18px;
  color: #2e2f33;
}
.posted-comment-container .posted-comment-top-container .posted-comment-data-container .comment-author {
  color: #8c94a5;
  font-size: 15px;
  text-transform: capitalize;
  margin-top: 12px;
}
.posted-comment-container .posted-comment-top-container .posted-comment-vote-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.posted-comment-container .posted-comment-bottom-container {
  display: flex;
  border-top: 1px solid rgba(186,184,188,0.2);
  padding: 16px;
}
